.sixth
cv.md
node_modules
test-results
__pycache__
.pytest_cache
playwright-report
playwright-videos
.auth
chromedriver

# wrangler files
.wrangler
.dev.vars*
!.dev.vars.example
.env*
!.env.example
.repo-work
